<style>

/*base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif
}
h1 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

}

#bigcontainer {
  background-color: pink;
  position: relative;
  width: 90%;
  height: 400px;
  top: 50px;
  margin-left: 5%;
  
}

#sc1, #sc2, #sc3 {
  display: inline-block;
  float: left;
  background-color: grey;
  position: relative;
  top: 10px;
  width: 31%;
  margin: 1%;
  height: 60%;
  border: 1px solid black;
  margin-bottom: 15px;
}

p {
  text-align:center;
  width: 75px;
  height: 45px;
  border: 1px solid black;
  margin-bottom: 15px;
}

#li1, #li2, #li3 {
  position: absolute;
  width: 350px;
  height: 45px;
  text-align: left;
  margin-bottom: 15px;
  top: 60px;
  left: 30px;
  border: none;
}

#p1, #p2, #p3 {
  background-color: #e5d198;
  position: absolute;
  line-height: 45px;
  top: 0px;
  right: 0px;
  font-weight: bold;
}

#p1 {
  background-color: #d59898;
} 

#p2 {
  background-color: #c14543;
} 

#p3 {
  background-color: #e5d198;
} 

</style>