<style>

/*base styles */
div#container {
  background-color: #00FFFF;
  position: relative;
  top: 60px;
}

p { 
	color: purple; 
	border: 1px solid-black;
	background-color: grey;
	} 

@media (max-width: 767 px) {
	p {
		color:yellow;
	}
}

@media (min-width:768 px) and (max-width: 991 px)  {
	p {
		color:blue;
	}
}

@media (min-width: 992 px) {
	p {
		color:pink;
	}
}

</style>